<div class="row">
  <div class="form-container">
    <%= form_for @user, url: :users do |f| %>

      <div class="form-group">
        <%= f.label "First Name" %><br />
        <%= f.text_field :first_name, placeholder: "first name" %>
      </div>

      <div class="form-group">
        <%= f.label "Last Name" %><br />
        <%= f.text_field :last_name, placeholder: "last name" %>
      </div>

      <div class="form-group">
        <%= f.label "Email" %><br />
        <%= f.text_field :email, placeholder: "example@example.com" %>
      </div>

      <div class="form-group">
        <%= f.label "Password" %><br />
        <small>(minimum 6 charaters)</small><br />
        <%= f.password_field :password, placeholder: "password" %>
      </div>

      <div class="form-group">
        <%= f.label "Password Confirmation" %><br />
        <%= f.password_field :password_confirmation, placeholder: "password confirmation" %>
      </div>

      <% if flash[:warning] %>

        <div class="alert alert-danger" role="alert">
          <% flash[:warning].uniq.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </div>

      <% end %>
      <div class="button-login">
        <%= f.submit "Signup", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>