<h1>Signup!</h1>

<%= form_for :user, url: users_path do |f| %>

  <%= f.label "First Name" %>
  <%= f.text_field :first_name, placeholder: "First Name" %>
  <%= f.label "Last Name" %>
  <%= f.text_field :last_name, placeholder: "Last Name" %>
  <%= f.label "Email" %>
  <%= f.text_field :email, placeholder: "example@example.com" %>
  <%= f.label "Password" %>
  <%= f.password_field :password, placeholder: "password" %>
  <%= f.label "Password Confirmation" %>
  <%= f.password_field :password_confirmation, placeholder: "password Confirmation" %>

  <%= f.submit "Signup" %>
<% end %>